<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="abstractionImplementation.RestAssuredTest"/>
	  <class name="abstractionImplementation.RestAssuredProgram"/>
	  <class name="encapsulation.RestAssuredEncaps"/>
	  <class name="encapsulation.RestAssuredImplementation"/>
	  <class name="encapsulation.RestAssuredInterface"/>
	  <class name="encapsulation.RestAssuredTest"/>
	  <class name="inheritanceImplementation.BaseTest"/>
	  <class name="inheritanceImplementation.RestAssuredTest"/>
	  <class name="intermediate.AddPlaceArrayRequest"/>
	  <class name="intermediate.CreateArrayNode"/>
	  <class name="intermediate.CreateJSONObjectUsingJacksonAPI"/>
	  <class name="intermediate.CreatingJSONArrayRequestBodyUsingList"/>
	  <class name="intermediate.CreatingJSONObjectRequestBodyUsingJavaMap"/>
	  <class name="intermediate.JavaObjectAsPayloadExample"/>
	  <class name="intermediate.SendPaloadAsFile"/>
	
	  
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
